resources:
  - ../../base
namespace: three-tier-application

nameSuffix: -production

images:
  - name: ghcr.io/sysadmin29/front-end
    newTag: v1.0.4

replicas:
  - name: frontend
    count: 2

labels:
  - includeSelectors: true
    includeTemplates: true
    pairs:
      app.kubernetes.io/part-of: "frontend"

configMapGenerator:
  - name: frontend-config
    env: config.properties
generatorOptions:
  disableNameSuffixHash: true

patches:
  - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: frontend-ingress
    patch: |-
      - op: replace
        path: /spec/tls/0/hosts/0
        value: frontend.aura.local
      - op: replace
        path: /spec/tls/0/secretName
        value: frontend-tls
      - op: replace
        path: /spec/rules/0/host
        value: frontend.aura.local
  - target:
      kind: Deployment
      name: frontend-production
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/envFrom/0/configMapRef/name
        value: frontend-config-production

#secretGenerator:
#   - name: frontend-secrets
#    env: secrets.properties

#patches:
#  - target:
#      group: apps
#      version: v1
#      kind: Deployment
#      name: frontend
#    patch: |-
#      - op: replace
#        path: /spec/template/spec/containers/0/envFrom/1/secretRef/name
#        value: frontend-secrets-staging
